.gitattributes text eol=lf
remote-nixos/**/*.nix text eol=lf
remote-nixos/**/*.sh text eol=lf
remote-nixos/**/*.py text eol=lf
remote-nixos/**/*.md text eol=lf
remote-nixos/**/*.html text eol=lf
remote-nixos/**/*.css text eol=lf
remote-nixos/**/*.js text eol=lf
remote-nixos/archivist_web/**/*.png binary
